body {
    background-image: url("background.png");
}

textarea, select, input, button { outline: none; }

.login-register-content {
    width: 600px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 50px;
    box-shadow: 0 0 20px 0 #888888;
}

.input-field-label {
    font-family: "arial", serif;
    font-size: 20px;
    border-radius: 4px;
}

.input-field {
    font-family: "arial", serif;
    font-size: 100%;
    color: #454545;
    width: calc(100% - 22px);
    height: 40px;
    border-radius: 4px !important;
    border: 1px solid #cccccc !important;
    margin: 4px 0 14px 0;
    padding: 0 10px 0 10px;
}

.login-register-button-primary {
    background-color: steelblue;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.login-register-button-secondary {
    background-color: white;
    color: #454545;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 1px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.login-register-selection {
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.login-register-selection > button {
    font-size: 20px;
    width: 50%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.login-register-selection-button {
    background-color: white;
    color: #454545;
}

.login-register-selection-button-active {
    background-color: steelblue;
    color: white;
}

.sticky-header {
    left: 0;
    position: fixed;
    top: 0;
    width: calc(100% - 32px);
    padding: 10px 16px;
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 0 5px 0 #888888;
    height: 50px;
    z-index: 10;
}

.sticky-header + .content {
    padding-top: 90px;
}

.header-pages > a {
    margin: 11px 25px 0 0;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: "arial", serif;
    float: left;
}

.header-pages > a :hover {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: "arial", serif;
    float: left;
}

.header-button-group {
    float: right;
    width: auto;
    height: 100%;
    margin: auto 0 auto 0;
}

.header-button-group > button {
    min-width: 100px;
    margin: 0 0 0 10px;
    height: 40px;
    font-size: 20px;
    font-family: "arial", serif;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
    top: calc(50% - 20px);
}

.table-content {
    background-color: white;
    height: auto;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #EDF0F2;
    box-shadow: 0 0 5px 0 #888888;
}

.button-disabled {
    background-color: lightgrey !important;
    color: black !important;
}

.no-record {
    height: 20px;
    font-family: "arial", serif;
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    top: calc((100% - 15px) / 2);
}

[data-testid="rs-wrapper"] {
    z-index: 5;
}

div[data-evergreen-toaster-container] > span {
    z-index: 2000 !important;
}

div:has(> #coachSelector) {
    left: calc(50% - 100px);
    margin-top: 2px;
    position: absolute;
    z-index: 10;
}

#coachSelector {
    font-size: 14px;
    text-align-last: center;
}

.event-element {
    margin: 0 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.57;
    letter-spacing: 0.00714em;
}

.event-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.event-panel {
    display: inline-block;
    height: auto;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 63%;
    margin: auto;
    padding: 20px;
}

.event-panel-empty {
    position: absolute;
    top: 150px;
}

.event-panel-title {
    color: #8F95B2;
    font-size: 20px;
    vertical-align: top;
    margin-left: 10px;
}

.event-panel-title-empty {
    color: #D8DAE5;
    font-size: 20px;
    vertical-align: top;
    margin-left: 10px;
}

.event-panel-element {
    padding: 2px 6px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 40%;
    background-color: #F4FCF4;
    margin: 2px auto;
}

.event-panel-element > button {
    display: none;
    background-color: steelblue;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: auto;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 4px;
}

.event-panel-element:hover > button {
    display: block;
}

.event-popup {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    width: 100%;
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
}

.info-panel {
    min-height: 70vh;
    display: inline-block;
    height: auto;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 0 20px 20px 20px;
    margin: 20px 0;
    width: 30%;
    font-size: 20px;
    vertical-align: top;
}

.info-panel-field-label {
    font-size: 80% !important;
}

.info-panel-field {
    font-size: 80% !important;
    height: 30px !important;
}

.info-panel-button {
    font-size: 15px;
    height: 30px;
}

.info-panel-button:hover {
    filter: brightness(95%);
}

.info-panel-divider {
    position: absolute;
    top: 20px;
    bottom: 20px;
    display: inline-block;
    width: 0;
    border: 1px solid #EDF0F2;;
}
