<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Gym Manager</title>
    <link rel="stylesheet" href="/media/main.css">
    <link rel="icon" href="/media/favicon.png">
    <script src="built/vendor-react.bundle.js"></script>
    <script src="built/vendor-mui.bundle.js"></script>
    <script src="built/vendor-mui-other.bundle.js"></script>
    <script src="built/vendor-date-fns.bundle.js"></script>
    <script src="built/vendor-rest.bundle.js"></script>
</head>
    <body>
    <div id="root"></div>
    <script src="built/main.bundle.js"></script>
    </body>
</html>
